@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #DCF2DE;
    font-size: 400;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

/* Colores */

:root {
    --fondo: rgb(154, 230, 187);
}

/* Header */


header {
    padding: 0.5em;
    background-color: var(--fondo);
    text-transform: uppercase;
}

header h1{
    padding: 0.5em;
    font-weight: 500;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.3em;
}

/* Nav */

nav {
    background-color: #F6FEFE;
    text-transform: uppercase;
    padding: 2em;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
}

.btn-nav{
    margin: 0.3em;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* Main */



main {
    display: flex;
    flex-direction: column;
}

main h2 {
    padding: 1em 1em 0 1em;
}

.contenido {
    padding: 1.5em;
    text-align: justify;
}

.description {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

/* Galeria */

#galeria {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.dos {
    padding: 2em 0;
    background-color: #fff;
    width: 100%;
    justify-content: center;
}

.dos h2{    
    text-transform: uppercase;
    text-align: center;
}


/* Footer */

footer {
    background-color: #38A3A5;
    color: #ffff;
    margin-top: 2em;
    text-align: center;
    padding: 3em;
}



.integrantes {
    font-size: 1.5rem;
}

footer span {
    margin: 0 2em;
}

footer h2 {
    margin: 2em 0 0 0;
}


/* Formulario */

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input {
    outline: 0;
    margin: 1em;
    border-radius: 5%;
    padding: 1em;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #ffff;
}

input:focus-visible {
    border-color: rgb(91, 197, 239);
    /* border-bottom-style: g; */
}

.description {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    outline: 0;
    width: 100%;
    border: none;

    outline: none;
    border-color: black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    resize: none;
    /*remove the resize handle on the bottom right */
}

textarea:focus-visible {
    border-color: rgb(91, 197, 239);
}

.enviar {
    position: relative;
    width: 10em;
    padding: .5em;
    margin: 3em;
    display: flex;
    background-color: rgb(91, 197, 239);
    border-radius: 5%;
    justify-content: center;
}

.enviar:hover {
    background-color: aquamarine;
}

.icon {
    margin: 2%;
    padding: 0 2%;

}

button {
    font-size: 1em;
    border: 0;
    background: none;
    text-transform: uppercase;
}


/* Media Queries */

/* .linea::after{
        content: "|";   
        margin-left: 1em;
    } */

